<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!--<add key="AAIAttpath" value="D:\SankethamGIT\KMBRWebHost\ApplicationKMBRWeb\AAI\" />-->
		<!--<add key="connstrMaster" value="server=IKMPC327\SQLEXPRESS;database=DB_Masters;uid=MasterUser;pwd=MasterUser;Timeout=0;Max Pool Size=999"/>
		<add key="connstrKMBR" value="server=IKMPC327\SQLEXPRESS;database=DB_KMBRWeb;uid=KMBRWeb;pwd=KMBRWeb;Timeout=0;Max Pool Size=999"/>
		<add key="connstrKMBRImagelog" value="server=IKMPC327\SQLEXPRESS;database=DB_KMBRImagelog;uid=KMBRWeb;pwd=KMBRWeb;Timeout=0;Max Pool Size=999"/>-->

    <!--<add key="connstrMaster" value="server=IKMPC283\SQL2014ENT;database=DB_Masters;uid=MasterUser;pwd=MasterUser;Timeout=0;Max Pool Size=999"/>
    <add key="connstrKMBR" value="server=IKMPC283\SQL2014ENT;database=DB_KMBRWeb;uid=KMBRWeb;pwd=KMBRWeb;Timeout=0;Max Pool Size=999"/>
    <add key="connstrKMBRImagelog" value="server=IKMPC283\SQL2014ENT;database=DB_KMBRImagelog;uid=KMBRWeb;pwd=KMBRWeb;Timeout=0;Max Pool Size=999"/>-->
    <add key="connstrMaster" value="server=IKMPC283\SQLEXPRESS;database=DB_Masters;uid=MasterUser;pwd=MasterUser;Timeout=0;Max Pool Size=999"/>
    <add key="connstrKMBR" value="server=IKMPC283\SQLEXPRESS;database=DB_KMBRWeb;uid=KMBRWeb;pwd=KMBRWeb;Timeout=0;Max Pool Size=999"/>
    <add key="connstrKMBRImagelog" value="server=IKMPC283\SQLEXPRESS;database=DB_KMBRImagelog;uid=KMBRWeb;pwd=KMBRWeb;Timeout=0;Max Pool Size=999"/>
    
		<!--<add key="connstrMaster" value="server=IKMPC298\SQLEXPRESS;database=DB_Masters;uid=MasterUser;pwd=MasterUser;Timeout=0;Max Pool Size=999"/>
    <add key="connstrKMBR" value="server=IKMPC298\SQLEXPRESS;database=DB_KMBRWeb;uid=KMBRWeb;pwd=KMBRWeb;Timeout=0;Max Pool Size=999"/>
    <add key="connstrKMBRImagelog" value="server=IKMPC298\SQLEXPRESS;database=DB_KMBRWeb;uid=KMBRWeb;pwd=KMBRWeb;Timeout=0;Max Pool Size=999"/>-->
		<add key="wsimage.Service" value="http://localhost/wspublish/Service.asmx"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpRuntime enableVersionHeader="false"/>
	</system.web>
</configuration>
